.portfolio-page {
  height: 50vh;
  width: 100%;
  background: url("../img/bg/bg-portfolio.png") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  @import "template/header-menu";

  .portfolio-title {
    height: 30vh;
    @include aic;
    @include jcc;
    color: $white;
  }
}

.galery-main {
  float: none;
  margin: auto;

  #portfolio {
    margin: 1rem 0;
    column-count: 3;
    column-gap: 1rem;
    column-width: 33.33333333333333%;
  }

  .tile {
    transform: scale(0);
    transition: all 350ms ease;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  .scale-anm {
    transform: scale(1);
  }

  .toolbar {
    height: 10vh;
    width: 100%;
    @include jcc;
    align-items: center;
  }

  .btn {
    @include pd700;
    color: $violet;
    padding: 0.5rem 1rem;
    margin: 0;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
    }

    ::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
@import "template/clients";
@import "template/contacts";
